body {

}

header {
  border-bottom: 5px solid black;
}

.question-image {
  max-height: 300px;
}

button {
  display: block;
  margin: 0.5rem;
  font-size: 120%;
  border-radius: 1rem;
}

button:hover {
  background-color: yellow;
}

.correct-answer {
  width: 400px;
}

.incorrect-answer {
  width: 400px;
}

.correct-answer:active {
  background-color: green;
}

.incorrect-answer:active {
  background-color: red;
}
