body {
  font-family: 'Gothic A1', sans-serif;
}

.background {
  background: url(images/background-image1.png)no-repeat center center fixed;
  background-size: cover;
  background-position: center top;
  background-blend-mode: lighten;
  height: 100%;
}

#logo {
  display: block;
  margin: auto;
  height: 150px;
  width: auto;
}

h2 {
  text-align: center;
  display: block;
  font-size: 150%;
}

h3 {
  text-align: center;
  display: block;
}

input {
  margin: auto;
  margin-top: 1rem;
  display: block;
  width: 200px;
  font-size: 120%;
  border-radius: 3px;
}

.start-quiz-button {
  margin: auto;
  margin-top: 1rem;
  display: block;
  padding: 0.5rem 1rem;
}

#quiz-container {

}

.question-image {
  max-height: 300px;
  margin: auto;
  border: 1px solid black;
  display: block;
}

button {
  margin: 0.5rem;
  font-size: 120%;
  border-radius: 1rem;
}

button:hover:not([disabled]) {
  border: 1px solid #307b93;
}

#new-quiz-button {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 200px;
  border-radius: 2rem;
}

#new-quiz-button:hover {
  color: white;
  background-color: #307b93;
}

.start-quiz-button {
  width: 150px;
}

.start-quiz-button:hover:not([disabled]) {
  color: white;
  background-color: #307b93;
}

.correct-answer {
  margin: auto;
  margin-top: 1rem;
  width: 400px;
  display: block;
  padding: 0.5rem 0;
}

.incorrect-answer {
  margin: auto;
  margin-top: 1rem;
  width: 400px;
  display: block;
  padding: 0.5rem 0;
}

.next-button {
  float: right;
  margin-top: 1rem;
  margin-right: 12rem;
  margin-bottom: 2rem;
  width: 150px;
  display: inline-block;
  padding: 0.5rem;
}

.next-button:hover {
  color: white;
  background-color: #307b93;
}

.show-correct {
  background-color: green;
  color: white;
}

.show-incorrect {
  background-color: red;
  color: white;
}

button:disabled {
  opacity: 0.8;
}

.timer {
  font-family: 'Share Tech Mono', monospace;
  color: rgb(0,0,0);
  text-shadow: 0 0 5px #307b93,  0 0 5px rgba(10, 175, 230, 0);
  letter-spacing: 0.05em;
  font-size: 40px;
  padding: 5px 0;
  display: block;
  text-align: center;
}

.counter {
  text-align: center;
  color: grey;
}

.results-table {
  width: 400px;
  margin: auto;
  margin-top: 2rem;
  font-size: 140%;
  border: 1px solid #307b93;
  border-radius: 5px;
  padding: 1rem;
}

tr {
  text-align: center;
}

.name-score-row {
  font-weight: bolder;
  text-align: center;
  border: 1px solid #307b93;
  color: #307b93;
}

.new-entry {
  background-color: #307b93;
  color: white;
}
